# Eclipse overhead
.project
.settings

# Makefile overhead
include/.unison/*
dev

# Rebar generates this
ebin/*.app

# Cygwin is messy
*.dump
*.crashdump

# Only checkin github docs
doc
!doc/*.md
!doc/*.edoc

# Github template
.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump