%%-*- mode:erlang -*-

% nosh

{lib_dirs, ["deps"]}.

{erl_opts, [ {i, "deps"} ]}.

{deps, [
        {noterm, ".*",
            {git, "git://github.com/beadsland/noterm", {branch, master}}},
        {pose, ".*",
            {git, "git://github.com/beadsland/pose", {branch, master}}},
        {nosh_bin, ".*",
            {git, "git://github.com/beadsland/nosh_bin", {branch, master}}},
        {nosh_erl, ".*",
            {git, "git://github.com/beadsland/nosh_erl", {branch, master}}},
        {'2do_go4', ".*",
            {git, "git://github.com/beadsland/2do_go4", {branch, master}}},
        {superl, ".*",
            {git, "git://github.com/beadsland/superl", {branch, master}}}
]}.
