%%-*- mode:erlang -*-

% nosh

{lib_dirs, ["deps"]}.

{edoc_opts, [
		{doclet, multi_doclet},
		{skip_libs, ["deps"]},
		{doclet_list, [edown_doclet, edoc_doclet]},
		{top_level_readme, {"./README.md", "http://github.com/beadsland/nosh"}},
		{todo, true}
		]}.

{deps, [ 
        {bin, ".*", {git, "git://github.com/beadsland/nosh_bin", {branch, master}}},
        {edown, ".*", {git, "git://github.com/beadsland/edown", {branch, master}}},
		{multidoc, ".*", {git, "git://github.com/beadsland/multidoc", {branch, master}}}
]}.
