%%-*- mode:erlang -*-

%%======================================
%%
%% .app file provided to satisfy rebar.
%%
%%======================================

{edoc_opts, [{todo, true}]}.

{deps, [
        {bin, ".*", {git, "git://github.com/beadsland/nosh_bin", {branch, master}}},
        {edown, ".*", {git, "git://github.com/esl/edown", {branch, master}}}
]}.
