# Eclipse overhead
.project
.settings

# Makefile overhead
include/.unison/*
dev

# Cygwin is messy
*.dump
*.stackdump

# Only checkin github docs
doc
!doc/*.md
!doc/*.edoc

# Rebar generates app, so we can ignore this folder
ebin

# Github gitignore template for Erlang
.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump