%%-*- mode:erlang -*-

{lib_dirs, ["deps"]}.

{deps_dir, "doc/deps"}.

{erl_opts, [ {i, "deps"} ]}.

{edoc_opts, [
    {preprocess, true},
    {includes, ["doc/deps"]},
    {doclet, multi_doclet},
    {skip_libs, ["deps", "dev"]},
    {doclet_list, [edown_doclet, edoc_doclet]},
    {top_level_readme,
            {"./README.md", "http://github.com/beadsland/__PROJECT__"}},
    {todo, true}
    ]}.

{deps, [
    {edoc, ".*",
        {git, "git://github.com/beadsland/edoc", {branch, master}}},
    {edown, ".*",
        {git, "git://github.com/beadsland/edown", {branch, master}}},
    {multidoc, ".*",
        {git, "git://github.com/beadsland/multidoc", {branch, master}}}
    ]}.